<a href="https://colab.research.google.com/github/boorashiva12/AIML-Training-Shiva/blob/main/Assignment_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question-1**

**Data Transformation**
    
  a) Try creating different coordinate system and plot MNIST data in coordinate system which best separates the data.
  
  b) Consider housing data, filter rows based on sqft_living >2000 sqft and plot the trend of price in this filtered data.

  c) Create a small table with categorical data, numerical data and null values. try to find the correlation between those columns.
Consider housing data, filter rows based on sqft_living >2000 sqft and plot the trend of price in this filtered data.

In [1]:
import pandas as pd

In [2]:

#### for suppressing scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)
house_data = pd.read_csv('/content/kc_house_data.csv')
house_data.head()

FileNotFoundError: ignored

In [ ]:
data1= house_data[house_data['sqft_living'] >2000]
data1.head()

**Price trends**

In [ ]:
price_data = np.log(data1.price)
DrawHistogram(train_data.price)
plt.xlabel('price')

**Question-2**

 a)Try to predict the class label based on k values 3,5,7
 b)Try KNN using different distance metrics

In [13]:
import numpy as np
import math
from scipy.spatial import distance
import matplotlib.pyplot as plt
import random
import scipy.stats as ss
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
def generate_synth_data(n = 50):
    points = np.concatenate((ss.norm(0, 1).rvs((n, 2)), ss.norm(1, 1).rvs((n, 2))), axis = 0)
    outcomes = np.concatenate((np.repeat(0, n), np.repeat(1, n)))
    return (points, outcomes)

n = 50
pts,tgts = generate_synth_data(n) #generates 100 points
# print(tgts)
plt.figure()
plt.plot(pts[:n, 0], pts[:n, 1], "ro")
plt.plot(pts[n:, 0], pts[n:, 1], "bo")
plt.show()

In [ ]:
n = 15
test_pts,test_tgts = generate_synth_data(n)
# print(test_tgts)
plt.figure()
plt.plot(test_pts[:n, 0], test_pts[:n, 1], "ro")
plt.plot(test_pts[n:, 0], test_pts[n:, 1], "bo")
plt.show()

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(pts, tgts)
our_predictions = knn.predict(test_pts)
print("Prediction Accuracy: ")
print(100 * np.mean(our_predictions == test_tgts))

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(pts, tgts)
our_predictions = knn.predict(test_pts)
print("Prediction Accuracy: ")
print(100 * np.mean(our_predictions == test_tgts))

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(pts, tgts)
our_predictions = knn.predict(test_pts)
print("Prediction Accuracy: ")
print(100 * np.mean(our_predictions == test_tgts))

**Question-2**

 b)Try KNN using different distance metrics

In [ ]:
from sklearn.datasets import load_iris
iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)
# data['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
data['target'] = pd.Series(iris.target)
data.head(10)

In [ ]:
np.random.seed(123)
indices = np.random.permutation(data.shape[0])
div = int(0.65 * len(indices))
train_idx, test_idx = indices[:div], indices[div:]

train_set, test_set = data.loc[train_idx,:], data.loc[test_idx,:]
test_class = list(test_set.iloc[:,-1])
train_class = list(train_set.iloc[:,-1])

In [ ]:
def dist_euclidean(X1,X2):
    return distance.euclidean(X1,X2)

In [ ]:
def dist_cosine(X1,X2):
    return distance.cosine(X1,X2)

In [ ]:
def dist_manhattan(X1,X2):
    return distance.cityblock(X1,X2)

In [ ]:
def dist_chebyshev(X1,X2):
    return distance.chebyshev(X1,X2)

In [ ]:
metrics_list = [dist_euclidean,dist_cosine, dist_manhattan, dist_chebyshev]
for dist_metric in metrics_list:
  knn = KNeighborsClassifier(n_neighbors = 3, metric=dist_metric)
  knn.fit(train_set, train_class)
  our_predictions = knn.predict(test_set)
  print(dist_metric.__name__)
  print("Prediction Accuracy: ")
  print(100 * np.mean(our_predictions == test_class))
  print()

**Question-3**

**Regression**:
    Try with different values of alpha(regularization parameter) for both ridge and lasso and observe the results
    Try with higher degrees in polynomial Regression

In [ ]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
train_data = pd.read_csv('/content/kc_house_data.csv')

In [ ]:
train_data.head()

In [ ]:
train_data.shape

In [ ]:
main_features3 = ['grade', 'sqft_living', 'sqft_above', 'bathrooms', 'view', 'lat',
       'bedrooms', 'sqft_basement', 'waterfront', 'zipcode_98004', 'floors']
X3 = train_data[main_features3]
y3 = train_data.price

In [ ]:
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.20, random_state=0)

**Lasso Regression**

In [ ]:
# Normalize the training and test data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train3)
X_test_scaled = scaler.transform(X_test3)

# Create and fit the Ridge regression model
ridgeReg = Ridge(alpha=0.01)
ridgeReg.fit(X_train_scaled, y_train3)

# Make predictions on the test data
predictions3 = ridgeReg.predict(X_test_scaled)

# Evaluate the model
printStatistics(y_test3, predictions3)
accuracy = ridgeReg.score(X_test_scaled, y_test3)
print("Accuracy: {}%".format(int(round(accuracy * 100))))

In [ ]:
scores = cross_val_score( ridgeReg, X3, y3, cv=10)
print("The avergae accuracy with 10 fold cross validation is: ", scores.mean())

**Polynomial Regression (degree =2)**

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
# Quadratic
poly = PolynomialFeatures(degree=2)
X_train4 = poly.fit_transform(X_train3)
X_test4 = poly.fit_transform(X_test3)
QuadraticPolynomial = LinearRegression2.fit(X_train4, y_train3)
predictions4 = QuadraticPolynomial.predict(X_test4)
printStatistics(y_test3,predictions4)
accuracy = QuadraticPolynomial.score(X_test4, y_test3)
"Accuracy: {}%".format(int(round(accuracy * 100)))

**Polynomial Regression (degree =3)**

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
# Quadratic
poly = PolynomialFeatures(degree=2)
X_train4 = poly.fit_transform(X_train3)
X_test4 = poly.fit_transform(X_test3)
QuadraticPolynomial = LinearRegression2.fit(X_train4, y_train3)
predictions4 = QuadraticPolynomial.predict(X_test4)
printStatistics(y_test3,predictions4)
accuracy = QuadraticPolynomial.score(X_test4, y_test3)
"Accuracy: {}%".format(int(round(accuracy * 100)))

**Question-4**

 Try creating K-Means algorithm from scratch
 Plot the clusters

In [3]:

import random as rd

In [4]:
df = pd.read_csv("/content/bank_marketing_dataset.csv")

In [5]:
df.shape

(41188, 21)

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,41188.000,40.024,10.421,17.000,32.000,38.000,47.000,98.000
duration,41188.000,258.285,259.279,0.000,102.000,180.000,319.000,4918.000
campaign,41188.000,2.568,2.770,1.000,1.000,2.000,3.000,56.000
pdays,41188.000,962.475,186.911,0.000,999.000,999.000,999.000,999.000
previous,41188.000,0.173,0.495,0.000,0.000,0.000,0.000,7.000
emp.var.rate,41188.000,0.082,1.571,-3.400,-1.800,1.100,1.400,1.400
cons.price.idx,41188.000,93.576,0.579,92.201,93.075,93.749,93.994,94.767
cons.conf.idx,41188.000,-40.503,4.628,-50.800,-42.700,-41.800,-36.400,-26.900
euribor3m,41188.000,3.621,1.734,0.634,1.344,4.857,4.961,5.045
nr.employed,41188.000,5167.036,72.252,4963.600,5099.100,5191.000,5228.100,5228.100

In [7]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,subscribed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.100,93.994,-36.400,4.857,5191.000,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.100,93.994,-36.400,4.857,5191.000,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.100,93.994,-36.400,4.857,5191.000,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.100,93.994,-36.400,4.857,5191.000,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.100,93.994,-36.400,4.857,5191.000,no

In [8]:
df_dummies = pd.get_dummies(df)
df_dummies.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,subscribed_no,subscribed_yes
0,56,261,1,999,0,1.100,93.994,-36.400,4.857,5191.000,...,0,1,0,0,0,0,1,0,1,0
1,57,149,1,999,0,1.100,93.994,-36.400,4.857,5191.000,...,0,1,0,0,0,0,1,0,1,0
2,37,226,1,999,0,1.100,93.994,-36.400,4.857,5191.000,...,0,1,0,0,0,0,1,0,1,0
3,40,151,1,999,0,1.100,93.994,-36.400,4.857,5191.000,...,0,1,0,0,0,0,1,0,1,0
4,56,307,1,999,0,1.100,93.994,-36.400,4.857,5191.000,...,0,1,0,0,0,0,1,0,1,0

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [10]:
df_scaled = scaler.fit_transform(df_dummies)

In [11]:
### Example of from-scratch implimentation of Kmeans Clustering -


class Kmeans:
    def __init__(self,X,K):
        self.X=X
        self.Output={}
        self.Centroids=np.array([]).reshape(self.X.shape[1],0)
        self.K=K
        self.m=self.X.shape[0]

    def kmeanspp(self,X,K):
        i=rd.randint(0,X.shape[0])
        Centroid_temp=np.array([X[i]])
        for k in range(1,K):
            D=np.array([])
            for x in X:
                D=np.append(D,np.min(np.sum((x-Centroid_temp)**2)))
            prob=D/np.sum(D)
            cummulative_prob=np.cumsum(prob)
            r=rd.random()
            i=0
            for j,p in enumerate(cummulative_prob):
                if r<p:
                    i=j
                    break
            Centroid_temp=np.append(Centroid_temp,[X[i]],axis=0)
        return Centroid_temp.T

    def fit(self,n_iter):
        #randomly Initialize the centroids
        self.Centroids=self.kmeanspp(self.X,self.K)

        for i in range(self.K):
            rand=rd.randint(0,self.m-1)
            self.Centroids=np.c_[self.Centroids,self.X[rand]]

        #compute euclidian distances and assign clusters
        for n in range(n_iter):
            EuclidianDistance=np.array([]).reshape(self.m,0)
            for k in range(self.K):
                tempDist=np.sum((self.X-self.Centroids[:,k])**2,axis=1)
                EuclidianDistance=np.c_[EuclidianDistance,tempDist]
            C=np.argmin(EuclidianDistance,axis=1)+1
            #adjust the centroids
            Y={}
            for k in range(self.K):
                Y[k+1]=np.array([]).reshape(2,0)
            for i in range(self.m):
                Y[C[i]]=np.c_[Y[C[i]],self.X[i]]

            for k in range(self.K):
                Y[k+1]=Y[k+1].T
            for k in range(self.K):
                self.Centroids[:,k]=np.mean(Y[k+1],axis=0)

            self.Output=Y


    def predict(self):
        return self.Output,self.Centroids.T

    def WCSS(self):
        wcss=0
        for k in range(self.K):
            wcss+=np.sum((self.Output[k+1]-self.Centroids[:,k])**2)
        return wcss

In [16]:
### To call k-means function-

K =3
n_iter = 20
kmeans=Kmeans(df_scaled,K)
#kmeans.fit(n_iter)
#Output,Centroids=kmeans.predict()

In [19]:
type(kmeans)

__main__.Kmeans

In [ ]:
# #filter rows of original data
filtered_label0 = df_dummies[cluster_labels == 0]

filtered_label8 = df_dummies[cluster_labels == 2]
# #plotting the results
plt.scatter(filtered_label0.iloc[:,0] , filtered_label0.iloc[:,1], color = 'red')
plt.scatter(filtered_label8.iloc[:,0] , filtered_label8.iloc[:,1], color = 'black')
plt.show()

In [ ]:
# #Getting unique labels
u_labels = np.unique(cluster_labels)

# #plotting the results:
for i in u_labels:
    plt.scatter(
        df_dummies.iloc[cluster_labels == i , 0].values ,
        df_dummies.iloc[cluster_labels == i , 1].values ,
        cluster_labels = i)
plt.legend()
plt.show()