<a href="https://colab.research.google.com/github/boorashiva12/AIML-Training-Shiva/blob/main/Assignment_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question-1**

Consider housing data, filter rows based on sqft_living >2000 sqft and plot the trend of price in this filtered data.

In [13]:
import pandas as pd

In [11]:

#### for suppressing scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)
house_data = pd.read_csv('/content/kc_house_data.csv')
house_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.000,3,1.000,1180,5650,1.000,0,0,...,7,1180,0,1955,0,98178,47.511,-122.257,1340,5650
1,6414100192,20141209T000000,538000.000,3,2.250,2570,7242,2.000,0,0,...,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639
2,5631500400,20150225T000000,180000.000,2,1.000,770,10000,1.000,0,0,...,6,770,0,1933,0,98028,47.738,-122.233,2720,8062
3,2487200875,20141209T000000,604000.000,4,3.000,1960,5000,1.000,0,0,...,7,1050,910,1965,0,98136,47.521,-122.393,1360,5000
4,1954400510,20150218T000000,510000.000,3,2.000,1680,8080,1.000,0,0,...,8,1680,0,1987,0,98074,47.617,-122.045,1800,7503

In [12]:
data1= house_data[house_data['sqft_living'] >2000]
data1.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,20141209T000000,538000.000,3,2.250,2570,7242,2.000,0,0,...,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639
5,7237550310,20140512T000000,1225000.000,4,4.500,5420,101930,1.000,0,0,...,11,3890,1530,2001,0,98053,47.656,-122.005,4760,101930
10,1736800520,20150403T000000,662500.000,3,2.500,3560,9796,1.000,0,0,...,8,1860,1700,1965,0,98007,47.601,-122.145,2210,8925
15,9297300055,20150124T000000,650000.000,4,3.000,2950,5000,2.000,0,3,...,9,1980,970,1979,0,98126,47.571,-122.375,2140,4000
21,2524049179,20140826T000000,2000000.000,3,2.750,3050,44867,1.000,0,4,...,9,2330,720,1968,0,98040,47.532,-122.233,4110,20336